.square {
  width: 30px;
  height: 30px;
  background: white;
  border: 1px solid #222222;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square:hover {
  background: rgb(241, 221, 221);
  transition: 0.3 all ease;
}
